@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Comforter&family=Comforter+Brush&family=Dancing+Script&family=Economica&family=Fira+Sans+Condensed:ital@1&family=Gwendolyn&family=Hurricane&family=Montserrat:wght@400;500&family=Nothing+You+Could+Do&family=Old+Standard+TT:ital@0;1&family=Parisienne&family=Playfair+Display&family=Poppins:ital,wght@0,400;0,500;1,500&family=Satisfy&family=Shalimar&family=Urbanist:wght@500&family=Vujahday+Script&display=swap');

.navbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: max(3px, 0.2vw) 8.5% max(2px, 0.1vw);
    background: #fff;
    .mobile-nav{
        display: none;
    }
}
.navbar .nav-logo{
    display: flex;
    align-items: center;
    .logo{
        content: url("../../../assets/Navbar/logo.svg");
        height: max(50px, 2.95vw);
        margin-right: max(7.5px, 0.75vw);
    }
}
.navbar .nav-links{
    display: flex;
    align-items: center;
    margin-left: auto;
    .nav-link{
        position: relative;
        margin:0 max(2.5px, 1.6vw);
    }
    .inner-nav-link{
        color:#111;
        display: flex;
        align-items: center;
        padding:max(1.75vw,20px) 0.5vw;
        font-size: max(13.5px, 0.9vw);
        position: relative;
        z-index: 2;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
}

.navbar .nav-auth{
    display: flex;
    align-items: center;
    a{
        font-size: max(13.5px, 0.9vw);
        font-weight: 500;
    }
    .link1{
        color:#111;
        margin-right: max(15px, 2.0vw);
    }
    .link2{
        color:#fff;
        font-weight: 200;
        background: #58BADB;
        padding:max(10px, 0.3vw) max(17.5px, 1.35vw);
        border-radius: max(12px, 0.5vw);
        position: relative;
        overflow: hidden;  
    }
}
.nav__sticky{
    background: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    box-shadow: rgba(11, 11, 11, 0.2) 0px 2px 5px 0px;
    @media(max-width:1475px){
        box-shadow: rgba(11, 11, 11, 0.1) 0px 1.75px 3.5px 0px;
    }    
    .nav-links .inner-nav-link, .nav-auth .link1{
        color:#111;
    }
}
@media(max-width:700px){
    .navbar{
        padding:0;
        .nav-logo, .nav-links, .nav-auth{ display: none; }
        .input{display: none;}
        .mobile-nav{ display: block; }
        
    }
}

